  
.events {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: royalblue;
    position: fixed;
    width: 550px;
    right: 500px;
    bottom: 300px;
    align-self: center;
    text-align: center;
    align-items: center;
    justify-content: center;
}

