  
.events {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: royalblue;
    position: absolute;
    width: 550px;
    right: 500px;
    top: 410px;
    align-self: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    overflow: scroll;
    max-height: 400px;

}

.thingy-wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

